 body{
    background-color: beige;
}
.Listik{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px 500px;
}

h1{
    font-family: cursive;
}
input{
    margin: 20px;
}
button{
   margin-left: px;
}
ol{
    width: 100%;
    margin-left: 100px;
}
